.item-display{
    margin-top: 30px;
}

.item-display h1{
    text-align: center;
    color: #0c7a6a;
    font-weight:500;
}

.item-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap:30px;
    row-gap: 50px;
}

@media (max-width:750px){
    .item-display h1{
        text-align: center;
    color: #0c7a6a;
    font-weight:500;
    }
}
