.header{
    height:32.20vw;
    width: 76vw;
    margin: 28px auto;
    background: url('/banner.png') no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 30px;
}

.header-contents{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:1.6vw;
    max-width:50%;
    bottom:20%;
    top:10%;
    left:4vw;
    animation:fadeIn 3s;
}

.header-contents h2{
    font-weight:500;
    color:rgb(254, 226, 62);
    font-size: max(4.5vw,22px);
}

.header-contents h1{
    color: white;
    font-size: max(3.5vw,22px);
}

.header-icon img{
    padding:9px;
    justify-content: space-between;
}

.header-contents button{
    border:none;
    color:#0c7a6a;
    font-weight: 500;
    padding:1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius:50px;
}

@media (max-width:1050px){
.header-contents{
    max-width: 45%;
}
}

@media (max-width:750px){
    
    .header-contents{
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button{
        padding: 1vw 3vw;
    }
    .header-contents img{
        height:1cm;
        width: 1cm;
    }
}