.explore-product{
    display:flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 10px;
}
.explore-product h1{
    text-align: center;
    color: #0c7a6a;
    font-weight:500;
}

.explore-product-text{
    text-align: justify;
    color: #808080;
    max-width: 100%;
    font-size: max(1.3vw,16px);
}

.explore-product-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-product-list::-webkit-scrollbar{
    display: none;
}

.explore-product-list-item img{
    height: 5cm;
    width: 5cm;
    min-width: 80px;
    cursor:pointer;
    border-radius:50%;
    transition:0.2s;
}

.explore-product-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

.explore-product-list-item hr{
    margin: 10px 0px;
    height: 2px;
    border: #e2e2e2;
    border: none;

}

.explore-product-list-item .active{
    border:5px solid #0c7a6a;
    padding: 2px;
}

@media (max-width:1050px){
    .explore-product-text{
        max-width: 100%;
        font-size: 10px;
    }
    .explore-product-list-item p{
        font-size: max(1.4vw,29px);
    }
    
}

@media (max-width:750px){

    .explore-product-list-item .active{
        border:2px solid #0c7a6a;
        padding: 2px;
    }

    .explore-product{
        margin-top: 3px;
    }
    .explore-product-text{
        max-width: 100%;
        font-size: 10px;
        margin-top: 0px;
    }
    .explore-product-list-item p{
        
        color: #747474;
        font-size: max(1.4vw,25px);
        cursor: pointer;
    }
    .explore-product-list-item img{
        height: 2cm;
        width: 2cm;
    }
    .explore-product h1{
        text-align: center;
        font-size: max(1.4vw,19px);
        font-weight:500;
        margin: 5px auto;
    }
    .explore-product-list-item p{
        margin: 5px auto;
        font-size: max(1.4vw,10px);
      
    }
    
    
}